@import "..\..\bower\bootstrap\less\bootstrap.less";
//@import "../../bower/bootstrap-select/less/bootstrap-select.less";
@import "../../bower/font-awesome/less/font-awesome.less";
@import "../../bower/ionicons/less/ionicons.less";
@import "../AdminLTE/AdminLTE.less";
@import "../AdminLTE/skins/_all-skins.less";
@import "../../bower/icheck/skins/flat/blue.less";
@import "../../bower/morrisjs/less/morris.core.less";
@import "../../bower/bower-jvectormap/jquery-jvectormap-1.2.2.less";
@import "../../bower/bootstrap-datepicker/less/datepicker3.less";
@import "../../bower/bootstrap-daterangepicker/daterangepicker-bs3.less";
@import "../../bower/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.min.less";


// Custom Styles

.center-block {
  float:none;
}

.form-wrapper {
  margin-top:30px;
  padding-top:10px;
  padding-bottom:10px;
  border:1px solid #ddd;
}
.form-error p{
  padding:10px;
}
