/* Front page styles add them here */

.dropdown-menu > .dropdown-toggle > .dropdown-menu {
    top: 0;
    left: 100%;
    right: 100%;
}
.dropdown:hover > .dropdown-menu {
    display: block;
}

.caret-right {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}

.user-menu .dropdown-menu{
    width: 200px;
}
.user-header{
    text-align: center;
}
.user-header img{
    display: block;
    width: 90px;
    height: 90px;
    margin:10px auto;
}
.user-header small{
    display: block;
}
.user-btns {
    padding: 10px;
}
.user-btns a {
    margin-bottom: 10px;
}


.blogs-list li {
    list-style-type: none;
    border-bottom: 1px dashed #cccccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.post-info  {
    font-size: 12px;
    color: #aaaaaa;
    margin-bottom: 10px;
}
.post-info .date {
    margin-right: 10px;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding:20px 0;
    background-color: #f5f5f5;
}


