/* Login Page */
.form-wrapper.center-block{
    float:none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    border: 1px solid #cccccc;
}

/* Table tools */
.table-tools a{
    float: left;
    color:#880000;
    margin: 0 10px;
}

.table-hover>tbody>tr:hover {
    background: #e6f5ff;
}

/* Additional Styling for AdminLTE */
hr.line {
    border-color:#ccc;
    margin:10px 0;
}
.float-right {
    float:right;
}
.btn-default {
    background:#dddddd;
    border-color: #cccccc;
}
.show-items label{
    font-weight: normal;
}
.profile-image-edit {
    margin-bottom: 10px;
}

.avatar-modal.container{
    width:100% !important;
}
.avatar-list {
    padding:0;
}
.avatar-list li{
    list-style-type: none;
    margin-bottom:5px;
}
.avatar-item img{
    max-width: 100%;
}
.avatar-item .fa-check {
    display: none;
    position: absolute;
    bottom: 0;
}
.avatar-item.selected .fa-check {
    display: block;
}
.user-image-container.container{
    max-width: 100% !important;
}
#preview canvas {
    max-width: 100%;
}

#user_image_btn_group .btn-success {
    position: relatve;
    z-index: 2;
}
#user_image_btn_group .btn-primary {
    z-index: 1;
}
#fileupload {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: none repeat scroll 0 0 transparent;
    cursor: inherit;
    display: block;
}
.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}


/* Pagination */
.pagination-block .pagination{
    margin:0;
    float: right;
}

